body{
    font-family: 'Roboto', sans-serif;
    background-color: #227;
}

/* navbar css starts here  */
.bg-light{
    background-color: #7727;
}

.navbar-brand{
    font-family: 'Times New Roman', sans-serif;
    font-size: 1.5rem;
    color: #523!important;
}

.nav-link{
    color:aqua!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover{
    background-color: #f3f1f3;
}
/* navbar css ends here  */

.my-info{
    padding: 2rem 5rem;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: rgb(78, 153, 223)!important;
    color:#f3f1f3!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: rgb(230, 67, 67)!important;
}